<div class="carta-container">
  <div class="carta-header">
    <span class="codigo">{{ carta.codigo }}:</span>
    <span class="nome">{{ carta.nome }}</span>
  </div>

  <div class="imagem-container">
    <img [src]="carta.imagemUrl" [alt]="carta.nome" class="imagem-pixel">
  </div>

  <div class="atributos-lista">
    <div class="atributo-linha" *ngFor="let attr of carta.atributos">
      <div class="attr-nome">{{ attr.nome }}</div>
      
      <div class="attr-barra-container">
        <div class="attr-barra-preenchimento" [style.width.%]="attr.valor"></div>
        <div class="attr-barra-segmentos"></div>
      </div>
      
      <div class="attr-valor">[{{ attr.valor | number:'2.0-0' }}]</div>
    </div>
  </div>

  <div class="super-trunfo-box" *ngIf="carta.isSuperTrunfo">
    <div class="titulo-trunfo">SUPERTUNFO</div>
    <div class="conteudo-trunfo">
      <span class="estrela">🌟</span>
      <p>{{ carta.mensagemSuperTrunfo }}</p>
    </div>
  </div>
</div>