<div class="desconectado-screen">
  
  <div class="janela-lateral alerta-vermelho">
    <div class="borda-brilho"></div>
    <h2 class="pisca">ALERT</h2>
  </div>

  <div class="janela-central">
    <div class="scanline"></div>
    <div class="conteudo-terminal">
      <p class="linha-terminal">> PROTOCOL KODEXIA ENCERRADO!</p>
      <p class="linha-terminal delay-1">> CONEXÃO PERDIDA...</p>
      <p class="linha-terminal delay-2">> VOCÊ JÁ PODE FECHAR ESTA ABA.</p>
    </div>
  </div>

  <div class="janela-lateral alerta-vermelho">
    <div class="borda-brilho"></div>
    <h2 class="pisca">!</h2>
  </div>

</div>